<div class="container-fluid">
    <table class="table table-striped table-hover">
        <tbody>
        {{#each category in controller}}
            <tr>
                <td>
                    {{#link-to 'category' category }}
                        {{category.name}}
                    {{/link-to}}
                    <i class="fa fa-times-circle pull-right" {{action 'delete_category' category}} title="Delete"></i>
                    <i class="fa fa-edit pull-right" {{action 'edit_category' category}} title="Edit"></i>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <form class="pull-right">
        <button {{action 'new_category'}} class="btn btn-default">Add category</button>
    </form>
</div>

{{outlet}}